<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="/index.ts"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="metadata-items.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="layout-container view">
            <div class="metadata-list view">
                <div class="metadata view">
                    <div class="view">
                        icon
                    </div>
                    <div class="metadata__text view">
                        <p class="view">Metadata title</p>
                        <p class="view">metadata value</p>
                    </div>
                </div>

                <div class="metadata view">
                    <div class="view">
                        icon
                    </div>
                    <div class="metadata__text view">
                        <p class="view">Metadata title</p>
                        <p class="view">metadata value</p>
                    </div>
                </div>

                    <div class="metadata view">
                    <div class="view">
                        icon
                    </div>
                    <div class="metadata__text view">
                        <p class="view">Metadata title</p>
                        <p class="view">metadata value</p>
                    </div>
                </div>

                <div class="metadata view">
                    <div class="view">
                        icon
                    </div>
                    <div class="metadata__text view">
                        <p class="view">Metadata title</p>
                        <p class="view">
                            metadata value reaally really reallu really long value
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="l-container l-box view">
            <div class="l-stack l-hstack-gt40 view" style="--stack-gap: 2rem;">
                <div class="l-stack view" style="--stack-direction: row; --stack-gap: 0;">
                    <div class="view">
                        icon
                    </div>
                    <div class="l-cluster l-stack-gt40 d-split-content u-grow view" style="--cluster-gap: 0; --stack-gap:0;">
                        <p class="view">Metadata title</p>
                        <p class="view">metadata value</p>
                    </div>
                </div>

                <div class="l-stack view" style="--stack-direction: row; --stack-gap: 0;">
                    <div class="view">
                        icon
                    </div>
                    <div class="l-cluster l-stack-gt40 d-split-content u-grow view" style="--cluster-gap: 0; --stack-gap:0;">
                        <p class="view">Metadata title</p>
                        <p class="view">metadata value</p>
                    </div>
                </div>

                <div class="l-stack view" style="--stack-direction: row; --stack-gap: 0;">
                    <div class="view">
                        icon
                    </div>
                    <div class="l-cluster l-stack-gt40 d-split-content u-grow view" style="--cluster-gap: 0; --stack-gap:0;">
                        <p class="view">Metadata title</p>
                        <p class="view">
                            metadata value reaally really reallu really long value
                        </p>
                    </div>
                </div>

                <div class="l-stack view" style="--stack-direction: row; --stack-gap: 0;">
                    <div class="view">
                        icon
                    </div>
                    <div class="l-cluster l-stack-gt40 d-split-content u-grow view" style="--cluster-gap: 0; --stack-gap:0;">
                        <p class="view">Metadata title</p>
                        <p class="view">metadata value reaally really reallu really long value</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>