@use "sass:map";

$breakpoints: (
    // xs: 320px,
    // sm: 480px,
    md: 768px,
    lg: 1024px,
    // xl: 1200px,
    // 2xl: 1440px
);

@mixin from($breakpoint-name) {
    $value: map.get($breakpoints, $breakpoint-name);

    @if $value == null {
        @error "Unknown breakpoint `#{$breakpoint-name}`.";
    }

    @media (width >= $value) {
        @content;
    }
}

@mixin until($breakpoint-name) {
    $value: map.get($breakpoints, $breakpoint-name);

    @if $value == null {
        @error "Unknown breakpoint `#{$breakpoint-name}`.";
    }

    @media (width < $value) {
        @content;
    }
}