@use "sass:map";
@use 'sass:math';

$ratios: (
    minor-second: calc(6 / 15),
    major-second: calc(9 / 8),
    minor-third: calc(6 / 5),
    major-third: calc(5 / 4),
    perfect-fourth: calc(4 / 3),
    perfect-fifth: calc(3 / 2),
    minor-sixth: calc(8 / 5),
    golden-ratio: 1.618,
    major-sixth: calc(5 / 3),
    minor-seventh: calc(16 / 9),
    major-seventh: calc(15 / 8),
    octave: 2,
);

$scale: (
    base: 1rem,
    ratio: map.get($ratios, "major-third"),
);

$font-weights: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
);

$font-sizes: (
    50:  math.pow(map.get($scale, "ratio"), -2) * map.get($scale, "base"),
    100: math.pow(map.get($scale, "ratio"), -1) * map.get($scale, "base"),
    200: math.pow(map.get($scale, "ratio"), 0) * map.get($scale, "base"),
    300: math.pow(map.get($scale, "ratio"), 1) * map.get($scale, "base"),
    400: math.pow(map.get($scale, "ratio"), 2) * map.get($scale, "base"),
    500: math.pow(map.get($scale, "ratio"), 3) * map.get($scale, "base"),
    600: math.pow(map.get($scale, "ratio"), 4) * map.get($scale, "base"),
    700: math.pow(map.get($scale, "ratio"), 5) * map.get($scale, "base"),
    800: math.pow(map.get($scale, "ratio"), 6) * map.get($scale, "base"),
    900: math.pow(map.get($scale, "ratio"), 7) * map.get($scale, "base"),
    950: math.pow(map.get($scale, "ratio"), 8) * map.get($scale, "base"),
);

$font-line-heights: (
    tight: 1.15,
    regular: 1.5,
);

$typography-conf: (
    display: (
        size: 900,
        weight: bold,
        line-height: tight,
    ),

    heading-big: (
        size: 800,
        weight: bold,
        line-height: tight,
    ),

    heading: (
        size: 700,
        weight: bold,
        line-height: tight,
    ),

    heading-small: (
        size: 600,
        weight: semibold,
        line-height: tight,
    ),

    title-big: (
        size: 500,
        weight: semibold,
        line-height: tight,
    ),

    title: (
        size: 400,
        weight: semibold,
        line-height: tight,
    ),

    title-small: (
        size: 300,
        weight: semibold,
        line-height: tight,
    ),

    body: (
        size: 200,
        weight: regular,
        line-height: regular,
    ),

    label: (
        size: 100,
        weight: regular,
        line-height: regular,
    ),

    label-small: (
        size: 50,
        weight: regular,
        line-height: regular,
    ),
);

@layer tokens {
    :root {
        @each $name, $style in $typography-conf {
            $size: map.get($font-sizes, map.get($style, size));
            $weight: map.get($font-weights, map.get($style, weight));
            $line-height: map.get($font-line-heights, map.get($style, line-height));

            --font-#{$name}-size: #{$size};
            --font-#{$name}-weight: #{$weight};
            --font-#{$name}-line-height: #{$line-height};
        }

        @each $name, $style in $typography-conf {
            .text-#{$name} {
                font-size: var(--font-#{$name}-size);
                font-weight: var(--font-#{$name}-weight);
                line-height: var(--font-#{$name}-line-height);
            }
        }
    }
}


    