.view {
    border: 1px solid black;
}


html,
body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
}

.surface-50 {
    color: var(--c-on-surface-50);
    background-color: var(--c-surface-50);
}

.surface-100 {
    color: var(--c-on-surface-50);
    background-color: var(--c-surface-50);
}