@use "../tokens" as tokens;

@mixin cluster {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--layout-gap, 1rem);
}

@layer layout {
    .l-cluster {
        @include cluster;
    }

    @each $br-name, $br in tokens.$breakpoints {
        @include tokens.from($br-name) {
            .#{$br-name}-l-cluster {
                @include cluster;
            }
        }
    }
}
/* EVERY LAYOUT IMPLEMENTATION */
.cluster {
    --cluster-gap: 1rem;
    --cluster-justify: start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space, 1rem);
    justify-content: center;
    align-items: start;
}