@use "../tokens" as tokens;

/*
Nell'implementazione attuale l'aside fisso è il primo
elemento che diventa allineato a sinsitra quando il layout è attivo,
la versione right è parte del contratto, fa si che l'aside
sia presentato a destra, inceve che a sinistra.
L'aside è sempre il primo elemento dei due (se presi disposti verticalmente)!

Potrebbe aver senso far si che uno dei due elementi qualsiasi possa diventare aside
presentato a destra o sinistra ?
*/
@mixin sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--layout-gap, 1rem);

    > :first-child {
        flex: 0 0 var(--aside-width, 18rem);
    }

    > :last-child {
        flex: 1 1 0;
        min-width: 0;
    }
}

@mixin sidebar-right {
    > :first-child {
        order: 2;
    }

    > :last-child {
        order: 1;
    }
}

@layer layout {
    .l-sidebar {
        @include sidebar;
    }

    .l-sidebar--right {
        @include sidebar;
        @include sidebar-right;
    }

    @each $br-name, $br in tokens.$breakpoints {
        @include tokens.from($br-name) {
            .#{$br-name}-l-sidebar {
                @include sidebar;
            }

            .#{$br-name}-l-sidebar--right {
                @include sidebar;
                @include sidebar-right;
            }
        }
    }
}
