@use "../tokens" as tokens;

@mixin stack {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--layout-gap, 1rem);
}

@layer layout {
    .l-stack {
        @include stack;
    }

    @each $br-name, $_ in tokens.$breakpoints {
        @include tokens.from($br-name) {
            .#{$br-name}-l-stack {
                @include stack;
            }
        }
    }
}
