@use "../tokens" as tokens;

@mixin stack {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--stack-gap, 1rem);
}

@layer layout {
    .stack {
        @include stack;

        &.narrower {
            --stack-gap: 0.25rem;
        }

        &.narrow {
            --stack-gap: 0.5rem;
        }

        &.wide {
            --stack-gap: 1.5rem;
        }

        &.wider {
            --stack-gap: 2rem;
        }
    }


    // @each $br-name, $_ in tokens.$breakpoints {
    //     @include tokens.from($br-name) {
    //         .#{$br-name}-stack {
    //             @include stack;
    //         }
    //     }
    // }
}
