
/* Elements stacked vertically */
.l-stack {
    --stack-gap: 2rem;

    display: flex;
    flex-direction: column;
    gap: var(--stack-gap);
}

/* Elements grouped together possibly into multiple lines */
.l-cluster{
    --cluster-gap: 2rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--cluster-gap);
}

/* Elements splitted on the same line */
.l-split {
    display: flex;
    gap: var(--split-gap, 2rem);
}

.l-split__fluid{
    flex-grow: 1;
    min-width: 0;
}

.l-split__fixed {
    flex: 0 0 var(--fixed-split-basis, 18rem);
}


